{
    "thumbnail": {
        "thumb_dirpath": "clip_thumbnails",
        "http_thumb_root_dirname": "clip_thumbnails",
        "command_template": "{{ api.features.clips.thumbnail_gen_cmd }}",
        "survey_cron_string": "{{ api.features.clips.thumbnail_survey_cron_string }}"
    }
}