{
    "api":
    {
        "HOST": "{{ api.config.host }}",
        "BASE_PATH": "{{ api.config.base_path }}",
        "HAS_HTTPS": {{ api.config.has_https }}
    },
    
    "PORT": {{ api.config.port }}
}