{
    {% for racer in racers %}
    "{{ racer.name }}": {
        {% for core_cmd in racer.core_commands %}"{{ core_cmd.name }}": {
            "cmd": "{{ core_cmd.cmd }}",
            "type": "{{ core_cmd.type }}",
            "timeout": {{ core_cmd.timeout }}
        }{% if not loop.last %},{% endif %}{% endfor %}
    }{% if not loop.last %},{% endif %}{% endfor %}
}