{
    {% for racer in racers %}"{{ racer.name }}": {
        "PORT": {{ racer.port }},
        "ADDRESS": [
            {% for item in racer.addresses %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}
        
        ],
        "NAMES": [
            {% for item in racer.aliases %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}
        
        ],
        {% if racer.additionnal_commands is defined %}"additionnal_cmd": {
            {% for command in racer.additionnal_commands %}"{{ command.name }}": {
                "type": "{{ command.type }}",
                "cmd": "{{ command.cmd }}",
                "timeout": {{ command.timeout }}
            }{% if not loop.last %},{% endif %}{% endfor %}
        
        },{% endif %}

        {% if racer.default is defined and racer.default %}"default": true,{% endif %}
        {% if racer.password_file is defined and racer.password_file %}"password_file": "{{ racer.password_file }}",{% endif %}

        "thumbnail": "{{ racer.thumbnail_url }}"
    }{% if not loop.last %},{% endif %}
    
    {% endfor %}

}